<div>
    <p></p>
    <h3>Корзина</h3>
    <table class="table">
        <thead>
        <tr>
            <td>Название</td>
            <td>Цена</td>
            <td>Количество</td>
            <td>Стоимость</td>
            <td></td>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="s in cartList">
            <td>{{s.title}}</td>
            <td>{{s.price}}р.</td>
            <td>{{s.count}}шт.</td>
            <td>{{s.cost}}р.</td>
            <td>
                <button class="btn btn-primary" ng-click="addToCart(s.id)">В корзину</button>
            </td>
        <thead>
        <tr>
            <td></td>
            <td></td>
            <td>Итоговая стоимость</td>
            <td>{{total}}р.</td>
            <td></td>
        </tr>
        </thead>
        </tbody>
    </table>
    <p></p>


    <!--    <div style="margin-left: 300px">-->
    <!--        Страница-->
    <!--        <button class="btn btn-primary" ng-click="goToPage(currentPage-1)"><</button>-->
    <!--        <input name="id" type="text" id="current_page-id" style="width: 30px; text-align: center">-->
    <!--        <button class="btn btn-primary" ng-click="goToPage(currentPage+1)">></button>-->
    <!--        &lt;!&ndash;     {{currentPage+1}}&ndash;&gt;-->
    <!--        из {{pagesCount}}-->
    <!--    </div>-->
    <!--    <nav aria-label="Page navigation">-->
    <!--        <ul class="pagination">-->
    <!--            <li class="page-item" ng-repeat="pageIndex in paginationArray">-->
    <!--                <button class="page-link" ng-click="loadProducts(pageIndex)">{{pageIndex}}</button>-->
    <!--            </li>-->
    <!--        </ul>-->
    <!--    </nav>-->
</div>