<div>
  <p></p>
  <h3>Регистрация пользователя</h3>
  <form novalidate ng-submit="registerUser()">
<!--    <input class="form-control" type="number" hidden placeholder="ID" ng-model="new_user.id">-->
<!--    <p></p>-->
    <input class="form-control" type="text" placeholder="Имя" ng-model="new_user.username">
    <p></p>
    <input class="form-control" type="email" placeholder="email" ng-model="new_user.email">
    <p></p>

    <input class="form-control" type="password" placeholder="Пароль" ng-model="new_user.password">
    <p></p>
    <input class="form-control" type="password" placeholder="Повторите пароль" ng-model="new_user.password2">
    <p></p>
    <button type="submit" class="btn btn-primary">Регистрация</button>
  </form>
</div>