<div>
    <p></p>
    <h3>Изменить продукт {{updated_product.id}}</h3>
    <form novalidate ng-submit="updateProduct()">
        <input class="form-control" type="number" hidden placeholder="ID" ng-model="updated_product.id">
        <p></p>
        <input class="form-control" type="text" placeholder="Название" ng-model="updated_product.title">
        <p></p>
        <input class="form-control" type="number" placeholder="Цена" ng-model="updated_product.price">
        <p></p>
        <input type="checkbox" role="switch" ng-model="updated_product.active"> Разместить в каталоге
        <p></p>
        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
    </form>
</div>